* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0.9rem 13rem;
}
.contain {
    max-width: 100%;
}
.logo-img {
    width: 268px;
}
nav {
    display: flex;
    justify-content: space-between;
    & ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
    }
}
li {
    color: #ababab;
    font-size: 16px;
    font-weight: 400px;
}
li:hover {
    color: green;
    font-weight: bold;
}
.about {
    color: #00b39b;
}
.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}
#headlogo {
    width: 40px;
    height: 40px;
}
.headtext {
    color: #00b39b8a;
    font-size: 2.1rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: -1px;
    text-align: center;
}
.maintext {
    color: #747474;
    font-size: 1.2em;
    display: flex;
    padding: 0px;
    padding-left: 100px;
    padding-right: 120px;
    width: 50vw;
    justify-content: space-between;
    gap: 20px;
    font-weight: 200px;
}
.sec-section {
    margin: 2.5rem 200px 1.5rem 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    font-family: Work Sans, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 300;

    & > div {
        color: white;
        padding: 1em 1.5em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    & > div:nth-child(1) {
        background-color: #00ccb1;
    }
    & > div:nth-child(2) {
        background-color: #3d83df;
    }
    & > div:nth-child(3) {
        background-color: #1b2734;
    }

    & div select {
        align-self: flex-start;
        background-color: inherit;
        color: inherit;
        border: none;
        outline: none;
        font-size: 1.3rem;
        border-bottom: 2px solid white;
    }

    & h3, p {
        margin: 0;
    }

    & p {
        font-weight: 300;
    }

    & .wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


.titles {
    font-family: 'Work Sans', sans-serif;
}
#info {
    margin: 0.7rem 1rem;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}
.logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    & > div {
        max-width: 100px;
        display: flex;
        align-items: center;
    }

    

}

.third-section {
    display: flex;
    justify-content: space-evenly;
    margin: 0 4.5em;
    align-items: center;
    gap: 1rem;

    & p {
        align-self: flex-start;
    }
}
.fourth-section {
    background-color: #d0faf4;
    margin-top: 3rem;
    padding-left: 10rem;
    display: flex;

    

    & h2 {
        font-family: Work Sans, Arial, sans-serif;
        color: #00b39b;
        font-weight: 200;
        padding-top: 4rem ;
        padding-bottom: 1rem;

    }
}
.small {
    color: grey;
    padding-bottom: 1.7rem;
}

.box1 {
    border: 2px solid white;
    background-color: white;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 3px;

    & h2, p {
        padding: 0px;
    }
    & p {
        font-size: 12px;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        line-height:  1.4;
    }
    & img {
        padding-top: 1rem;
    }
}
.box2 {
    border: 2px solid white;
    background-color: white;
    width: 210px;
    height: 220px;
    border-radius: 3px;
    text-align: center; 

    & h2, p {
        padding: 0px;
    }
    & p {
        font-size: 12px;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        line-height:  1.4;
    }
    & img {
        padding-top: 1rem;
    }
}
.arrange {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* align-items: self-end; */
    margin-right: 50px;
    margin-left: 100px;

}
.firsttwo {
    padding-top: 4.2rem;
    
}
.secondtwo {
    padding-top: 3rem;
    margin-left: 1.5rem;
}

.box3 {
    border: 2px solid white;
    background-color: white;
    width: 210px;
    height: 220px;
    border-radius: 3px;
    text-align: center; 

    & h2, p {
        padding: 0px;
    }
    & p {
        font-size: 12px;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        line-height:  1.4;
    }
    & img {
        padding-top: 1rem;
    }
}
.box4 {
    border: 2px solid white;
    background-color: white;
    width: 210px;
    height: 220px;
    border-radius: 3px;
    text-align: center;
    margin-top: 1rem; 

    & h2, p {
        padding: 0px;
    }
    & p {
        font-size: 12px;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        line-height:  1.4;
    }
    & img {
        padding-top: 1rem;
    }
}
.fifthsection {
   display: flex;
   flex-direction: column;
   margin-top: 3rem;
   width: 100%;
   align-items: center;
   gap: 0px;

   & p {
    margin: 0.2em 0em;
   }
}
.edit {
    text-align: center;
    color: grey;
}
.lastimages {
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
    justify-content: center;
    flex-wrap: wrap;

}
.imgbox {
    border: 1px solid white;
    background-color: white;
    width: fit-content;
    color: grey;
    
    & h3 {
        padding-left: 1rem;
        font-weight: 200;
    }
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & button {
        align-self: flex-end;
        background-color: rgb(61, 131, 223);
        height: 30px;
        border: 1px solid rgb(61, 131, 223);
        border-radius: 3px;
        margin-right: 1rem;
        word-spacing: -0.7px;
    }
}
.imgbox:hover {
    box-shadow: 3px 3px 2px 2px grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.lasttext {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    font-family: Work Sans, Arial, sans-serif;
    color: #333;
    font-weight: 200;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 2px;
    flex-wrap: wrap;
}

.but {
    background-color: rgb(61, 131, 223);
    height: 35px;
    border: 1px solid rgb(61, 131, 223);
    border-radius: 3px;
    margin-right: 1rem;
    word-spacing: -0.7px;
}
.lastbutton {
    display: flex;
    justify-content: center;
}
.last {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: #33333391;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
}
.last-text {
    color: #33333371;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}



@media screen and (max-width: 475px) {
    header {
        padding: 5px 0 40px 20px;
    }
    .logo-img {
        width: 120px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        & ul {
            display: flex;
            gap: 10px;
            list-style: none;
            margin: 0 0 5px 10px;
            padding: 0 0 0 0;
            align-items: center;
        }
    }
    li {
        color: #ababab;
        font-size: 0.7rem;
        font-weight: 400px;
    }
    .first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
    #headlogo {
        width: 30px;
        height: 30px;
    }
    .headtext {
        color: #00b39b8a;
        font-size: 1rem;
        font-family: Work Sans, Arial, sans-serif;
        font-weight: 100;
        letter-spacing: 1px;
        padding-top: -1px;
        text-align: center;
    }
    .maintext {
        color: #747474;
        font-size: 0.9em;
        display: flex;
        padding: 0px;
        padding-left: 10px;
        padding-right: 12px;
        width: 90vw;
        justify-content: space-between;
        gap: 20px;
        font-weight: 200px;
    }
    .sec-section {
        margin: 1rem;
        display: block;
    
        & > div {
            color: white;
            padding: 1em 1.5em;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }
    
        & > div:nth-child(1) {
            background-color: #00ccb1;
            margin-bottom: 10px;
        }
        & > div:nth-child(2) {
            background-color: #3d83df;
            margin-bottom: 10px;
        }
        & > div:nth-child(3) {
            background-color: #1b2734;
            margin-bottom: 10px;
        }
    
        & div select {
            align-self: flex-start;
            background-color: inherit;
            color: inherit;
            border: none;
            outline: none;
            font-size: 1rem;
            border-bottom: 2px solid white;
        }
    
        & h3, p {
            margin: 0;
        }
    
        & p {
            font-weight: 300;
        }
    
        & .wrap {
            display: flex;
            flex-direction: column;
            gap: 1px;
        }
    }
    #info {
        margin: 2rem 4rem 1rem 3rem;
        color: #00b39b;
        font-family: Work Sans, Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.9rem;
        margin-top: 3rem;
     
    
        & > div {
            max-width: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 3rem;
            margin: 0;
        }   
    }
    
    .third-section {
        display: block;
        justify-content: center;
        margin: 0;
        align-items: center;
        gap: 3rem;
    
        & p {
            align-self: center;
        }
    }
    .fourth-section {
        background-color: #d0faf4;
        margin-top: 5rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: fit-content;
    
        
    
        & h2 {
            font-family: Work Sans, Arial, sans-serif;
            color: #00b39b;
            font-weight: 200;
            padding-top: 1rem ;
            padding-bottom: 1rem;
            padding-left: 1rem;
            text-align: center;
    
        }
    }
    .reduce {
        width: 100px;
        margin-bottom: 2rem;

        
    }
    .small {
        color: grey;
        padding-bottom: 1rem;
        padding-left: 10px;
    }
    
    .box1 {
        border: 1px solid white;
        background-color: white;
        width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 3px;
        margin-left: 40px;
        & h2, p {
            padding: 0px;
        }
        & p {
            font-size: 10px;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            line-height:  1.4;
        }
        & img {
            padding-top: 1rem;
            width: 30px;
            height: 30px
        }
    }
    .box2 {
        border: 2px solid white;
        background-color: white;
        width: 170px;
        border-radius: 3px;
        text-align: center;
        margin-left: 40px;
    
        & h2, p {
            padding: 0px;
        }
        & p {
            font-size: 12px;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            line-height:  1.4;
        }
        & img {
            padding-top: 1rem;
            width: 30px;
            height: 30px
        }
    }
    .arrange {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-right: 0;
        margin-left: 0;
    
    }
    .firsttwo {
        padding-top: 1rem;
        
    }
    .secondtwo {
        padding-top: 1rem;
        margin-left: 0;
    }
    
    .box3 {
        border: 2px solid white;
        background-color: white;
        width: 170px;
        border-radius: 3px;
        text-align: center; 
        margin-right: 40px;
        & h2, p {
            padding: 0px;
        }
        & p {
            font-size: 12px;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            line-height:  1.4;
        }
        & img {
            padding-top: 1rem;
            width: 30px;
            height: 30px;
        }
    }
    .box4 {
        border: 2px solid white;
        background-color: white;
        width: 170px;
        border-radius: 3px;
        text-align: center;
        margin-bottom: 10px;
    
        & h2, p {
            padding: 0px;
        }
        & p {
            font-size: 12px;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            line-height:  1.4;
        }
        & img {
            padding-top: 1rem;
            width: 30px;
            height: 30px
        }
    }
    .lasttext {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
        font-family: Work Sans, Arial, sans-serif;
        color: #333;
        font-weight: 200;
        font-size: 17px;
        line-height: 1.4;
        letter-spacing: 2px;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .but {
        background-color: rgb(61, 131, 223);
        height: 35px;
        border: 1px solid rgb(61, 131, 223);
        border-radius: 3px;
        margin-right: 1rem;
        word-spacing: -0.7px;
    }
    .lastbutton {
        display: flex;
        justify-content: center;
    }
    .last {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        color: #33333391;
        font-size: 0.8rem;
        font-family: Roboto, Arial, sans-serif;
    }
    .last-text {
        color: #33333371;
        font-size: 0.8rem;
        font-family: Roboto, Arial, sans-serif;
        text-align: center;
    }
    
}
